<a href="https://colab.research.google.com/github/shannonlal/Statistical-YCBS-255/blob/main/Assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2  <font color="blue"> (15 points) </font>
 
***

### General Instructions
  + You may need additional libraries besides the Python standard library to solve some questions. Import only necessary libraries. 
  + If more than one library exist for a same purpose, choose the one you wish as long as it does the task properly. 
  + If we want you to use a specific library, then we will state it clearly. 
  + Use the exact variable names asked in the questions. When no clear instructions given, feel free to do it the way you would like to.
  + After each question, add the needed number of new cells and place your answers inside the cells. 
  + Use text cells for explanations. Use explanation and plain text as much as possible. 
  + Do not remove or modify the original cells provided by the instructor.
  + In the following cell you will find some extra options to make your code more readable, including output colors RED, OKBLUE, or output text styles like BOLD or UNDERLINE that. Do not hesitate to use them. As an example, one may output text in red as follows: 
  ```python
     print(bcolors.RED + "your text" + bcolors.ENDC)
  ```
  + Comment your code whenever needed using # sign at the beginning of the row.
  + In some questions some of the details needed for solving the problem are **purposely** omitted to encourage additional self-directed research. This, especially, helps you develop some search skills for coding in Python (which is inevitable due to the inconsistent syntax of Python).
  + Do not hesitate to communicate your questions to the TA's or instructors. 
    
  Good luck!

In [4]:

# The following piece of code gives the opportunity to show multiple outputs
# in one cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


# Colorful outputs
class bcolors:
    RED       = '\033[91m'
    OKBLUE    = '\033[94m'
    BOLD      = '\033[1m'
    UNDERLINE = '\033[4m'
    ENDC      = '\033[0m'

## **Part A** <font color="blue">(7 points)</font>

1. **<font color=blue> (1 point) </font>** Download `Credit.csv` from <http://faculty.marshall.usc.edu/gareth-james/ISL/data.html> and upload it into this notebook. Print the first $5$ rows of the data. Using appropriate descriptive statistics or visualization methods describe the variables and possible association amongst them. Interpret the results. 
2. **<font color=blue> (0.5 points)</font>** Keep only `Income`, `Limit`, `Rating`, `Cards`, `Age`, `Education`, and `Balance` as your variables and throw the rest of variables away. Print the dimension of this new dataset. 
3.  **<font color=blue> (0.5 points) </font>** Create a binary variable `Balance_1500` which equals $1$ for the observations with `Balance` $> 1500$, and equals $0$ otherwise.
4. **<font color=blue> (3 points) </font>** Model `Balance_1500` by the explanatory variables `Income`, `Limit`, `Rating`, `Cards`, `Age`, `Education` using the following models: 
    + logistic regression, 
    + linear discriminant, and 
    + quadratic discriminant.
8. **<font color=blue> (0.5 points) </font>** Find the probability of (`Balance` $> 1500$), for the following values, using all three aforementionned methods:

|    Income    |    Limit     |     Rating     |    Cards     |      Age        |   Education   | 
|--------------|--------------|----------------|--------------|-----------------|---------------|
|      63      |    8100      |     600        |      4       |       30        |      13       |
|     186      |    13414     |     950        |      2       |       41        |      13       |

</br>
Compare the probabilities and comment.
    
9. **<font color=blue> (1.5 points) </font>** For each method, print the confusion matrix, the accuracy score and the AUC using all observations. Compare these metrics and comment.

In [5]:
# Load Libraries
import numpy as np
import pandas as pd

In [5]:
# Part A - Q1: Load the data
from google.colab import files
uploaded = files.upload()

Saving Credit.csv to Credit.csv

In [18]:

# Convert into a Panda
credit_data = pd.read_csv('Credit.csv')

# Display the first elements
credit_data.head()


# Describe the Data Set
credit_data.describe()

# What are potential relationships with the data
## Todo
## How many rows?  Are there any null values?
## Plot a quick linear regression against the different axis
## Pandas example.  Can get the mean of a column and standard devaiation
## Good practice to plot some histograms of histograms, married gender, eduation 
## df describe function gives a bunch of data

   Unnamed: 0   Income  Limit  Rating  ...  Student  Married  Ethnicity Balance
0           1   14.891   3606     283  ...       No      Yes  Caucasian     333
1           2  106.025   6645     483  ...      Yes      Yes      Asian     903
2           3  104.593   7075     514  ...       No       No      Asian     580
3           4  148.924   9504     681  ...       No       No      Asian     964
4           5   55.882   4897     357  ...       No      Yes  Caucasian     331

[5 rows x 12 columns]

       Unnamed: 0      Income  ...   Education      Balance
count  400.000000  400.000000  ...  400.000000   400.000000
mean   200.500000   45.218885  ...   13.450000   520.015000
std    115.614301   35.244273  ...    3.125207   459.758877
min      1.000000   10.354000  ...    5.000000     0.000000
25%    100.750000   21.007250  ...   11.000000    68.750000
50%    200.500000   33.115500  ...   14.000000   459.500000
75%    300.250000   57.470750  ...   16.000000   863.000000
max    400.000000  186.634000  ...   20.000000  1999.000000

[8 rows x 8 columns]

In [19]:
# Part A: Q2 - Clean data
# Keep the following columns and drop remaining ( Income, Limit, Rating, Cards, Age, Education, and Balance)
# Need to drop, Unnamed: 0, Geneder, Student, Married, Ethnicity

credit_data.drop('Unnamed: 0', axis=1, inplace=True)
credit_data.drop('Gender', axis=1, inplace=True)
credit_data.drop('Student', axis=1, inplace=True)
credit_data.drop('Married', axis=1, inplace=True)
credit_data.drop('Ethnicity', axis=1, inplace=True)

In [20]:
# Part A: Q 2 - Analyze the data
# List top 5 records
credit_data.head()

# Assert the shape is 400 rows and 7 columns
assert credit_data.shape == (400,7)

# Check if there are any null values in entire data frame
assert credit_data.isnull().values.any() == False

    Income  Limit  Rating  Cards  Age  Education  Balance
0   14.891   3606     283      2   34         11      333
1  106.025   6645     483      3   82         15      903
2  104.593   7075     514      4   71         11      580
3  148.924   9504     681      3   36         11      964
4   55.882   4897     357      2   68         16      331

In [21]:
# Part A: Q3 - Create a binary variable to indicate the balance

## Step 1: Create a lambda function
def balance_high(row):
  if row['Balance'] > 1500: 
    return 1
  else:
    return 0

df_test_1 = {'Balance':1501}
assert balance_high( df_test_1 ) == True
df_test_2 = {'Balance':1499}
assert balance_high( df_test_2 ) == False

credit_data['Balance_1500'] = credit_data.apply( balance_high, axis =1 )
credit_data = credit_data.astype({'Balance_1500': int})
credit_data.head()
credit_data.shape

# Test Case
high_balance_count = 0
for balance_score in credit_data.Balance_1500:
  if balance_score == 1:
    high_balance_count+=1

print(bcolors.RED + "In the data set the total number of high balance candidates is :" + bcolors.ENDC, high_balance_count)

    Income  Limit  Rating  Cards  Age  Education  Balance  Balance_1500
0   14.891   3606     283      2   34         11      333             0
1  106.025   6645     483      3   82         15      903             0
2  104.593   7075     514      4   71         11      580             0
3  148.924   9504     681      3   36         11      964             0
4   55.882   4897     357      2   68         16      331             0

(400, 8)

In the data set the total number of high balance candidates is : 9

In [22]:
# Part A: Q4 - Prepare the data
from sklearn.metrics import confusion_matrix
X = credit_data[['Income','Limit','Rating','Cards','Age','Education','Balance']]
y = credit_data['Balance_1500']

In [23]:
# Part A: Q4 - Build Logistic Regression Model
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X, y)

print(bcolors.RED + "The Intercept for the Logistic Regression Model is :" + bcolors.ENDC, lr.intercept_) 
print(bcolors.RED + "The Coefficents for the Logistic Regression Model are :" + bcolors.ENDC, lr.coef_)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

The Intercept for the Logistic Regression Model is : [-0.02770602]
The Coefficents for the Logistic Regression Model are : [[ 0.08014028  0.00595478 -0.11515737  0.00722018 -0.06465515 -0.46525153
   0.01436324]]

In [12]:
# Part A: Q4 - Build Linear Discriminant Model
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda = LinearDiscriminantAnalysis()
lda.fit(X, y)

print(bcolors.RED + "The Intercept for the Linear Discriminant Analysis Model is :" + bcolors.ENDC, lda.intercept_) 
print(bcolors.RED + "The Coefficents for the Linear Discriminant Analysis Model are :" + bcolors.ENDC, lda.coef_)

LinearDiscriminantAnalysis()

The Intercept for the Linear Discriminant Analysis Model is : [-10.74963824]
The Coefficents for the Linear Discriminant Analysis Model are : [[ 0.11050502 -0.00165967 -0.00278994  0.18055906 -0.00714922 -0.04001992
   0.01111983]]

In [3]:
# Part A: Q4 - Build Quadratic Discriminant Analysis Model
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

qda = QuadraticDiscriminantAnalysis()
qda.fit(X, y)

print(bcolors.RED + "The Intercept for the Linear Discriminant Analysis Model is :" + bcolors.ENDC, qda.intercept_) 
print(bcolors.RED + "The Coefficents for the Linear Discriminant Analysis Model are :" + bcolors.ENDC, qdab.coef_)

NameError: ignored

In [ ]:
# Part A: Q5 - Calculate the probability for the 3 differnt methods

## **Part B** <font color="blue">(8 points)</font>

Donwload  `ziptrain.csv` and `ziptest.csv` datasets from  **Athena/Content/Data**. Save them and upload them here as **two separate datasets** and name them `ziptrain` and `ziptest`, respectively. Explore the data in order to understand it. 

  1. **<font color="blue">(1 point)</font>** From `ziptrain` dataset select only the rows corresponding to digits $2$ and $7$ and save them in a new dataset called `binar_train`. Do the same thing in `ziptest` and call it `binar_test`. 
  2. **<font color="blue">(1 point)</font>** Project `binar_train` onto the first **two principal components** and make a scatterplot of the data in the new space (two-dimensional space spanned by the frist two PCs). Use a different color (or marker) for each digit. Based on the plot do you think that these two digits can be separated well using only two PCs? Explain.
  3. **<font color="blue">(1 point)</font>** Fit a **logistic regression**, in the new space, to separate digits $2$ and $7$. 
  4. **<font color="blue">(1 point)</font>** Evaluate the trainded model on `binar_test` using **accuracy**, and an **appropriate F-measure**. 
  5. **<font color="blue">(0.5 points)</font>** Build and print a confusion matrix for your predictions.

For the rest of the questions use the **whole training data**, i.e., `ziptrain` (**not** `binar_train`). 

  6. **<font color="blue">(1 point)</font>** Project the whole data onto the first $m=2, 3, 4, 5$ principal components (one $m$ at a time).
  7. **<font color="blue">(1.5 points)</font>** For each $m$, and using **$5$-fold cross-validation**, train a **linear discriminant** classifier on `ziptrain`. 
  8. **<font color="blue">(1 point)</font>** Based on **cross-validated accuracy**, select the best number of principal components $m$.

In [1]:
# Load the sample ziptrain into the jupiter

from google.colab import files
uploaded = files.upload()

Saving ziptrain.csv to ziptrain.csv

In [ ]:
# Load the train data and remove excess data
from os import strerror
# Convert into a Panda
ziptrain = pd.read_csv('ziptrain.csv', delimiter=' ', header=None)

ziptrain.rename( columns={0: 'label'}, inplace=True)
ziptrain['label'] = pd.to_numeric( ziptrain['label'], downcast='integer')
ziptrain.drop(ziptrain.columns[257], axis=1, inplace=True)

ziptrain.head()
ziptrain.shape
ziptrain.count
ziptrain.dtypes

In [55]:
# Load the sample ziptest into the jupiter notebook
from google.colab import files
uploaded = files.upload()

Saving ziptest.csv to ziptest.csv

In [58]:
# Load the test data and remove excess data
from os import strerror
# Convert into a Panda
ziptest = pd.read_csv('ziptest.csv', delimiter=' ', header=None)

ziptest.rename( columns={0: 'label'}, inplace=True)
ziptest['label'] = pd.to_numeric( ziptest['label'], downcast='integer')

ziptest.head()
ziptest.shape
ziptest.count
ziptest.dtypes

   label    1    2    3      4    5  ...    251    252  253  254  255  256
0      9 -1.0 -1.0 -1.0 -1.000 -1.0  ... -0.973 -1.000 -1.0 -1.0 -1.0 -1.0
1      6 -1.0 -1.0 -1.0 -1.000 -1.0  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
2      3 -1.0 -1.0 -1.0 -0.593  0.7  ... -0.393 -1.000 -1.0 -1.0 -1.0 -1.0
3      6 -1.0 -1.0 -1.0 -1.000 -1.0  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
4      6 -1.0 -1.0 -1.0 -1.000 -1.0  ... -0.369 -0.867 -1.0 -1.0 -1.0 -1.0

[5 rows x 257 columns]

(2007, 257)

<bound method DataFrame.count of       label    1    2    3      4      5  ...    251    252  253  254  255  256
0         9 -1.0 -1.0 -1.0 -1.000 -1.000  ... -0.973 -1.000 -1.0 -1.0 -1.0 -1.0
1         6 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
2         3 -1.0 -1.0 -1.0 -0.593  0.700  ... -0.393 -1.000 -1.0 -1.0 -1.0 -1.0
3         6 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
4         6 -1.0 -1.0 -1.0 -1.000 -1.000  ... -0.369 -0.867 -1.0 -1.0 -1.0 -1.0
...     ...  ...  ...  ...    ...    ...  ...    ...    ...  ...  ...  ...  ...
2002      3 -1.0 -1.0 -1.0 -1.000 -1.000  ... -0.484 -1.000 -1.0 -1.0 -1.0 -1.0
2003      9 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
2004      4 -1.0 -1.0 -1.0 -1.000 -0.031  ... -1.000 -1.000 -1.0 -1.0 -1.0 -1.0
2005      0 -1.0 -1.0 -1.0 -1.000 -0.534  ... -0.975 -1.000 -1.0 -1.0 -1.0 -1.0
2006      1 -1.0 -1.0 -1.0 -1.000 -1.000  ... -0.950 -1.000 -1.0 -1.0 -1.0 -1.0

[2007 rows x 257 columns]>

label       int8
1        float64
2        float64
3        float64
4        float64
          ...
252      float64
253      float64
254      float64
255      float64
256      float64
Length: 257, dtype: object

In [65]:
# Part B Question 1
# From ziptrain dataset select only the rows corresponding to digits  2  and  7  and save them in a new dataset called binar_train. 
# Do the same thing in ziptest and call it binar_test.
binar_train = ziptrain.loc[ (ziptrain['label'] == 2) | (ziptrain['label'] == 7)]

binar_train.head()

binar_test = ziptest.loc[ (ziptest['label']== 2) | (ziptest['label'] == 7 )]
binar_test.head()

    label    1    2    3      4      5  ...  251  252  253  254  255  256
3       7 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
10      7 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
14      7 -1.0 -1.0 -1.0 -1.000 -1.000  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
15      7 -1.0 -1.0 -1.0 -0.929  0.351  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
22      7 -1.0 -1.0 -1.0 -1.000 -0.869  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0

[5 rows x 257 columns]

    label      1      2      3      4  ...    252    253    254    255    256
11      2 -0.996  0.572  0.396  0.063  ... -1.000 -1.000 -1.000 -1.000 -1.000
12      2 -1.000 -1.000  0.469  0.413  ... -0.855 -1.000 -1.000 -1.000 -1.000
20      2 -1.000 -1.000 -1.000 -1.000  ... -1.000 -1.000 -1.000 -1.000 -1.000
21      2 -1.000 -1.000 -1.000 -0.831  ... -0.866 -0.672  0.131  0.135 -0.318
25      2 -1.000 -1.000 -1.000 -1.000  ...  0.720  0.711 -0.932 -1.000 -1.000

[5 rows x 257 columns]

In [72]:
# Part B: Question 2
# Project binar_train onto the first two principal components and make a scatterplot of the data in the new space 
# (two-dimensional space spanned by the frist two PCs). Use a different color (or marker) for each digit. 
# Based on the plot do you think that these two digits can be separated well using only two PCs? Explain.


from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

y = binar_train['label']
X = binar_train.loc[:, binar_train.columns !='label']

y.head()
X.head()

# Question.  Will this project it onto the first two components?
pca = PCA(n_components=2)

rst = pca.fit( X)

print(rst)

Z = pca.transform( X )

print(Z)

# Question do we need to scale the data

# Check workbook 5

3     7
10    7
14    7
15    7
22    7
Name: label, dtype: int8

    1    2    3      4      5      6    ...  251  252  253  254  255  256
3  -1.0 -1.0 -1.0 -1.000 -1.000 -0.273  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
10 -1.0 -1.0 -1.0 -1.000 -1.000 -0.596  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
14 -1.0 -1.0 -1.0 -1.000 -1.000 -1.000  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
15 -1.0 -1.0 -1.0 -0.929  0.351  0.798  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
22 -1.0 -1.0 -1.0 -1.000 -0.869  0.777  ... -1.0 -1.0 -1.0 -1.0 -1.0 -1.0

[5 rows x 256 columns]

PCA(n_components=2)
[[-5.02045938 -0.63795233]
 [-3.6639877  -1.50391825]
 [-2.5935513  -4.25440079]
 ...
 [ 5.07936363  3.20589567]
 [-4.81366402 -0.59430184]
 [ 5.19443081 -4.96701636]]

In [ ]:
# Part B: Question 3
# Fit a logistic regression, in the new space, to separate digits  2  and  7 .